<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <style>
    body {
      background-image: url('/background1.jpg'); /* 这里指定了背景图片的路径 */
      background-size: cover;
      background-position: center;
      height: 100vh;
      margin: 0;
      text-align:center;
      justify-content: center;
      align-items: center;
      color:white;
      font-size: 24px;
    }
  </style>
    
</head>
<body>
    <h1><%= question %></h1>
    <form action="/submit" method="post">
        <% for(let i=0; i<options.length; i++) { %>
            <input type="radio" name="option" value="<%= options[i] %>">
            <label><%= options[i] %></label>

        <% } %><br>
        <input type="submit" value="Next">
    </form>
</body>
</html>
